*{
    margin: 0;
    padding: 0;
    font-family: "Montaga", sans-serif;
}
html{
    background-color: #005c50;
}


/* navbar */
nav{
    width: 100%;
    height: 80px;
    background-color: #00342E;
    border-radius: 0px 0px 20px 20px;
    /* border-bottom: 2px solid #fff; */
    /* #43FFD1 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

nav img{
    height: 70px;
    width: 149.57px;
    margin-left: 104px;
}

.options-nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.options-nav li{
    color: #fff;
    list-style-type: none;
    padding-left: 20px;
}

.options-nav a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: 0.3s;
}

#op1:hover{
    color: #00b38f;
}
#op2:hover{
    color: #00b38f;
}
#op3:hover{
    color: #00b38f;
}
#op4:hover{
    color: #00b38f;
}
#op5:hover{
    color: #00b38f;
}

.git-button{
    background-color: #fff;
    border-radius: 30px;
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-right: 104px;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.26);
    transition: 0.3s;
}

.git-button:hover{
    background-color: #005c50;
}
.git-button:hover a{
    color: #fff;
}

.git-button a{
    text-decoration: none;
    color: #00342E;
}


/* início */
.apresentation-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}

.apresentation{
    background-image: url("../img/backgroundmain.png");
    width: 1232px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 40px;
    margin-top: 30px;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.apresentation h2{
    font-size: 56px;
    margin-bottom: 15px;
}

.negrito{
    color: #43FFD1;
}

.apresentation p{
    font-size: 40px;
}

/* Sobre mim */
#aboutme-container{
    width: 100%;
    height: 740px;
    background-color: #e9fff8;
    display: flex;
    align-items: center;
}

#aboutme-container img{
    border-radius: 50%;
    width: 324px;
    height: 324px;
    border: 5px solid #00715f;
    margin-left: 104px;

}

.aboutme-subcon{
    width: 710px;
    height: 356px;
    background-color: #00715f;
    margin-left: 198px;
    border-radius: 30px;
}

.aboutme-text{
    margin: 40px 50px;
}

.aboutme-text p{
    font-size: 24px;
    color: #fff;
}
